language: python
sudo: required
services:
- docker
script:
- make docker/build
before_install:
- pip install codecov
after_success:
- codecov
deploy:
  provider: pypi
  user: kpn-digital
  skip_cleanup: true
  on:
    tags: true
    all_branches: true
  password:
    secure: gbKikNWaUoKbMjs1IL0PUQaYfqG00TQsIFJwIZq8Ri7wS6dBB9QXZIiUw2uhVrGV6/nXOkqijyxlHsC6Boan6sDgZ3joT9cSlcIq7zur3lT13R28B7uvwIPLaMnz5O+j3KAhB7kSUiJw44Eob9DYmQ0quwwS7V15dKOc49XlxQY6i8qP1KWJ1epkmmgJZIJ2JZNCVy3zAXdRiYD3+yxyLVbbtnl7cLTz7KmmLpnQwAjMV8bD1DqrkLHlWLoIuU+hG9bPlJkLSt749dusBrP2aezEesSPXCWig9g0raBgS7K8MpI2yThztnN1QZFtYoHSdmF8uMSaZ59vwV2tn6yoRC+cOhmHehCmo7QmBXhldk8XhnhCaZvj9R2Ajw+XB5xu1fqHlG89UZKPFVZqTUWuGBmiDb3yeadVeuLJ9EKSSroAHjjyA151hmZ1G4v20nnvuKaJ3TmWzWVHynoWe/jBNkta1kPSJ42g+e9re6V6Hus6euwh+raZQVEj5pAlg86Par8fR9JnsJsuktHDM1OVEF+54FKfLQYUuuiDBGZ/6okK3FCH6DYjQp2Y62iIIwS6EflM8N/2aEmyevXN6j51l+UGpSKCzJz3VjU5b5OGsUV777+KDxaIJNhfy5gFZiFZDV1yB1bCqxNWuWaRj4/vITxx7SQtWvfoAJT3BJZK9aQ=
